body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url(../imagenes/sonic\ logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 100%;
}   

        /** FUENTE DE LETRA **/
.navbar-custom .container-fluid .navbar-brand{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar-nav{
    font-family: "Archivo Black";
}
.navbar-custom{
    background-color: rgb(36, 171, 248);
    padding: 10px;
}

        /** IMAGEN MAPA **/

img{
    align-items: center;
    width: 100%;
    height: 5px;
    margin: 50px auto;
}

h1{
    margin-top: 30px;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(18, 79, 114);
    background-color: rgb(39, 132, 186);
}

table{
    margin: 50px auto;
    border-style: solid !important; 
    border-width: 7px !important;
    border-color: rgb(18, 79, 114) !important;
}

thead{
    border-style: solid !important; 
    border-width: 7px !important;
    border-color: rgb(18, 79, 114) !important;
}

footer{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

form{
    margin: 50px auto;
    width: 50%;
    border-style: solid !important; 
    border-width: 7px !important;
    border-color: rgb(18, 79, 114) !important;
    background-color: rgb(39, 132, 186);
}