body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url(../imagenes/sonic\ logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 100%;
}   

        /** FUENTE DE LETRA **/
.navbar-custom .container-fluid .navbar-brand{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar-nav{
    font-family: "Archivo Black";
}
.navbar-custom{
    background-color: rgb(36, 171, 248);
    padding: 10px 20px;
}

        /** IMAGEN MAPA **/

img{
    align-items: center;
    width: 100%;
    height: 5px;
    margin: 50px auto;
}

